<div class="row">
    <div class="span12">
      <!-- Slider (Parallax Slider) -->
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <div class="da-blue">
            <h2><span>Nos 10 propositions...</span></h2>

            <p>... pour une <b>politique industrielle</b> du Logiciel Libre, en faveur de
              la <b>compétitivité</b> de nos entreprises et la <b>souveraineté</b>
              technologique de la France, remises à Fleur Pellerin le 10 octobre 2012.</p>
            <a href="/news/propositions-cnll-fleur-pellerin/" class="da-link">Plus&nbsp;d'infos</a>

            <div class="da-img"><img src="/static/custom/axelle-lemaire.png" alt=""/>
            </div>
          </div>
        </div>

        <div class="da-slide">
          <div class="da-green">
            <h2><span>La voix de la filière</span></h2>

            <p>Le CNLL représente plus de 300 entreprises de la filière du logiciel
              libre en France. Il s'exprime sur les sujets relatifs à l'économie numérique
              au nom des valeurs communes de notre écosystème.
            </p>
            <a href="/cnll/" class="da-link">Plus&nbsp;d'infos</a>

            <div class="da-img"><img src="/static/custom/megaphone.png" alt=""/>
            </div>
          </div>
        </div>

        <div class="da-slide">
          <div class="da-green">
            <h2><span>Signez la Charte Libre Emploi !</span></h2>

            <p>Cette charte vise à promouvoir un emploi responsable dans le
              secteur des logiciels libres, sur la base d'engagements concrets
              qui favoriseront la reconnaissance des entreprises qui s’inscrivent
              dans une démarche durable au sein de l’écosystème.
            </p>
            <a target="_blank" href="http://www.educationjobandfloss.org/"
                class="da-link">Signez&nbsp;maintenant&nbsp;!</a>

            <div class="da-img"><img src="/static/custom/charte-libre-emploi.png" alt=""/>
            </div>
          </div>
        </div>

{#        <div class="da-slide">#}
{#          <h2><span style="font-size: 36px;">Les 8 promesses de F. Hollande</span></h2>#}
{##}
{#          <p>Peu avant le premier tour des présidentielles de 2012, F. Hollande et N. Sarkozy#}
{#          nous ont fait part de leurs positions et de leurs promesses en matière de logiciel libre#}
{#          et d'innovation ouverte. Retrouvez le verbatim de leur réponses et nos analyses.</p>#}
{##}
{#          <a href="/news/francois-hollande-nicolas-sarkozy-leurs-positions-relativement-leconomie-du-logiciel-libre/" class="da-link">Plus&nbsp;d'infos</a>#}
{##}
{#          <div class="da-img"><img src="/static/custom/francois-hollande.png" alt=""/></div>#}
{#        </div>#}

        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div>
    </div>
  </div>
