{% extends "_base.html" %}

{% block main %}
  <!-- Hero Unit -->

  <div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span12" style="margin-bottom: 25px;">
      <h2 style="font-size: 250%; color: #555;"><b><span style="color: #1ba0e1;">Liberté,</span>
        innovation, <span style="color: #e41d08;">compétitivité.</span></b></h2>

      <p style="font-size: 120%; color: #777; line-height: 24px;">Avec pour mission de <b>structurer la filière du logiciel libre en France</b>
        Le CNLL <b>fédère</b> <a href="/cnll/membres/">13 clusters d'entreprises régionaux</a> consacrés au logiciel libre, et
        <b>représente</b> plus de <b>300 entreprises</b> dont le modèle
        économique repose sur l'open source : startups,
        éditeurs de logiciels, sociétés de service et cabinets de conseil - les
        <a href="/news/les-ssll-deviennent-enl/">ENL (Entreprises du Numérique Libre)</a>.</p>
    </div>
  </div>

  <!-- Hero Ends -->

  <!-- Slider starts -->

  <div class="row">
    <div class="span12">
      <!-- Slider (Parallax Slider) -->
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <div class="da-blue">
            <h2><span>Nos 10 propositions...</span></h2>

            <p>... pour une <b>politique industrielle</b> du Logiciel Libre, en faveur de
              la <b>compétitivité</b> de nos entreprises et la <b>souveraineté</b>
              technologique de la France, remises à Fleur Pellerin le 10 octobre 2012.</p>
            <a href="/news/propositions-cnll-fleur-pellerin/" class="da-link">Plus&nbsp;d'infos</a>

            <div class="da-img"><img src="/static/custom/Fleur_Pellerin.png" alt=""/>
            </div>
          </div>
        </div>

        <div class="da-slide">
          <div class="da-green">
            <h2><span>La voix de la filière</span></h2>

            <p>Le CNLL représente plus de 300 entreprises de la filière du logiciel
              libre en France. Il s'exprime sur les sujets relatifs à l'économie numérique
              au nom des valeurs communes de notre écosystème.
            </p>
            <a href="/cnll/" class="da-link">Plus&nbsp;d'infos</a>

            <div class="da-img"><img src="/static/custom/megaphone.png" alt=""/>
            </div>
          </div>
        </div>

        <div class="da-slide">
          <div class="da-green">
            <h2><span>Signez la Charte Libre Emploi !</span></h2>

            <p>Cette charte vise à promouvoir un emploi responsable dans le
              secteur des logiciels libres, sur la base d'engagements concrets
              qui favoriseront la reconnaissance des entreprises qui s’inscrivent
              dans une démarche durable au sein de l’écosystème.
            </p>
            <a target="_blank" href="http://www.educationjobandfloss.org/"
                class="da-link">Signez&nbsp;maintenant&nbsp;!</a>

            <div class="da-img"><img src="/static/custom/charte-libre-emploi.png" alt=""/>
            </div>
          </div>
        </div>

{#        <div class="da-slide">#}
{#          <h2><span style="font-size: 36px;">Les 8 promesses de F. Hollande</span></h2>#}
{##}
{#          <p>Peu avant le premier tour des présidentielles de 2012, F. Hollande et N. Sarkozy#}
{#          nous ont fait part de leurs positions et de leurs promesses en matière de logiciel libre#}
{#          et d'innovation ouverte. Retrouvez le verbatim de leur réponses et nos analyses.</p>#}
{##}
{#          <a href="/news/francois-hollande-nicolas-sarkozy-leurs-positions-relativement-leconomie-du-logiciel-libre/" class="da-link">Plus&nbsp;d'infos</a>#}
{##}
{#          <div class="da-img"><img src="/static/custom/francois-hollande.png" alt=""/></div>#}
{#        </div>#}

        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div>
    </div>
  </div>

  <!-- Slider Ends -->

  <!-- Discover starts -->

  <div class="discover">
    <div class="row">
      <div class="span12">
        <h3><a href="/positions/">Nos positions</a></h3>

        <div class="big grey">Le CNLL prend position sur les points suivants,
        en faveur de l'innovation et de la compétitivité du secteur.</div>
        <div class="dis-nav button">
          <a href="#" id="position-emploi">Emploi</a>
          <a href="#" id="position-competitivite">Compétitivité</a>
          <a href="#" id="position-brevets">Brevets logiciels</a>
          <a href="#" id="position-standards">Standards ouverts</a>
          <a href="#" id="position-commande-publique">Commande publique</a>
          <a href="#" id="position-sba">Small Business Act</a>
          <a href="#" id="position-fiscalite">Fiscalité</a>
          <a href="#" id="position-autres">Autres</a>
        </div>

        <div class="dis-content">
          <div class="position-competitivite">
            <h3>Compétitivité</h3>

            <p>Le logiciel libre favorise favorise le travail en réseau,
              l'innovation ouverte, les cycles rapides de développement,
              et plus généralement la compétitivité des entreprises qui l'adoptent.
              A titre d'exemple, les géants d'Internet (par exemple : Google,
              Amazon, Facebook, Twitter aux USA ; Free en France) ont basé
              leur succès sur le choix du
              logiciel libre pour leur infrastructure, et sont également pour la
              plupart d'importants contributeurs aux écosystèmes du logiciel libre.
            </p>
            <p>
              En favorisant le développement du logiciel libre en France, dont la
              position de leadership dans ce domaine est reconnue, et
              en Europe, les pouvoirs publics jouent à la fois sur la compétitivité
              et la création d'emplois dans ce secteur, mais aussi et surtout, renforcent
              la compétivité de l'ensemble de l'économie française.
            </p>
            <a href="/positions/" class="btn btn-success"><i class="icon-lightbulb"></i>
              En savoir plus</a>
          </div>

          <div class="position-emploi">
            <h3>Emploi</h3>

            <p>Le logiciel libre, c'est 30000 emplois en France en 2012, et
              un secteur en croissance de 30% par an, qui attire donc <em>de facto</em>
              chaque année 10000 nouveaux emplois qualifiés - ingénieurs ou
              techniciens informatiques, commerciaux et responsables marketing de haut niveau.
              Pour permettre aux
              plus compétitifs d'entre nous de continuer à croître en créant de l'emploi, nous
              demandons que soit mise en place une véritable politique de formation adaptée
              aux besoins et aux valeurs de nos entreprises.
            </p>
            <a href="/positions/" class="btn btn-success"><i class="icon-lightbulb"></i>
              En savoir plus</a>
          </div>

          <div class="position-brevets">
            <h3>Brevets logiciels</h3>

            <p>Le CNLL, comme l’ensemble de la communauté du logiciel libre, est opposée aux brevets logiciels, un système qui ne profite essentiellement qu’aux "patent trolls", coquilles vides juridiques qui s'enrichissent par le racket des véritables innovateurs, et aux acteurs en position dominante qu'ils aident à maintenir le <em>statu quo</em> sans avoir besoin d'innover. Le brevet logiciel s’avère au contraire extrêmement défavorable aux PME du logiciel (surtout lorsqu’elles dépassent une certaine taille), qu’elles soient d'ailleurs ou non attachées au modèle du logiciel libre.</p>
            <a href="/positions/" class="btn btn-success"><i class="icon-lightbulb"></i>
              En savoir plus</a>
          </div>

          <div class="position-standards">
            <h3>Standards ouverts</h3>

            <p>Pour conserver son autonomie technique, la sphère publique ne saurait être prisonnière des formats propriétaires imposés par ses prestataires. Les standards ouverts doivent être systématiques dans le cadre de la commande publique et des données publiques. Tout fournisseur de solution informatique souhaitant soumissionner à une commande publique devrait être obligé de fournir les informations nécessaires à l'interopérabilité de la solution informatique qu'il propose.</p>
            <a href="/positions/" class="btn btn-success"><i class="icon-lightbulb"></i>
              En savoir plus</a>
          </div>


          <div class="position-commande-publique">
            <h3>Préférence pour le libre dans la commande publique</h3>

            <p>Nous demandons que soit rétablie et généralisée à l'ensemble de l'administration française la directive de 2006 du Ministère de la Défense qui stipulait : "<em>à coût global, risques et efficacité opérationnelle comparables, le logiciel libre est privilégié ; l'utilisation de certains logiciels libres peut être imposée aux contractants ; le bien fondé de solutions comprenant tout ou partie de logiciels libres doit être systématiquement étudié ; en cas d'acquisition de logiciels « propriétaires », la solution d'une licence libératoire est systématiquement étudiée par le porteur du besoin.</em>"</p>
            <a href="/positions/" class="btn btn-success"><i class="icon-lightbulb"></i>
              En savoir plus</a>
          </div>

          <div class="position-sba">
            <h3>Small Business Act et relations grands comptes / PME</h3>

            <p>
              L'immenses majorité des entreprises du CNLL sont des TPE ou des PME, alors
              que leur principal marché est celui des grands comptes et des administrations.
              Afin de leur donner toutes leurs chances ce croître sereinement, nous
              appuyons les initiatives visant à favoriser la relation PME/Grand Compte, et
              notamment l'instauration d'un <em>Small Business Act</em> à la française,
              garantissant une part de la commande publique aux PME innovantes.
            </p>
            <a href="/positions/" class="btn btn-success"><i class="icon-lightbulb"></i>
              En savoir plus</a>
          </div>

          <div class="position-fiscalite">
            <h3>Fiscalité</h3>

            <p>Nous mettons en avant des propositions ("mécénat de compétence",
            "fondations logiciel libre"...) visant à permettre aux entreprises qui
            le souhaitent d'imputer fiscalement la valeur de leur contributions
            à des projets de logiciels libres.</p>
            <a href="/positions/" class="btn btn-success"><i class="icon-lightbulb"></i>
              En savoir plus</a>
          </div>

          <div class="position-autres">
            <h3>Autres</h3>

            <p>Retrouvez l'ensemble de nos prises de position et propositions dans une section dédiée.</p>
            <a href="/positions/" class="btn btn-success"><i class="icon-lightbulb"></i>
              En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Disconver ends -->

  <div class="border"></div>

  <!-- news starts -->

  <div class="home-news">
    <div class="row">

      <div class="span12">
        <h3><a href="/news/">Actualités</a></h3>
      </div>

      {% for post in recent_posts[0:4] %}
        <div class="span3">
          <div class="post">
            <div class="bthumb2">
              <a href="{{ url_for("post", slug=post.meta.slug) }}"><img src="{{ url_for("image", path=post.meta.image, h=210) }}" alt="" /></a>
            </div>

            <h4><a href="{{ url_for("post", slug=post.meta.slug) }}">{{ post.title }}
              </a></h4>

            {% set title_length = post.title|length %}
            <p>({{ post.date }}) {{ post.html|striptags|trim|truncate(350 - title_length) }}</p>

            <a href="{{ url_for("post", slug=post.meta.slug) }}">Lire a suite</a> <i class="icon-arrow-right"></i>
          </div>
        </div>
      {% endfor %}

      <div class="span12">
        <a href="/news/" class="btn btn-success"><i class="icon-lightbulb"></i>
          Toutes les actualités du CNLL</a>

      </div>
    </div>
  </div>

  <div class="border"></div>

  <!-- Services Ends -->

  <!-- Testimonial starts -->

  <div class="testimonial">
    <div class="row">
      <div class="span6">
        <blockquote>
          <p>Le logiciel libre permet de réduire la dépendance stratégique et économique de la France vis-à-vis de fournisseurs étrangers, favorise l’activité des PME et l’emploi local et évite l’évasion fiscale pratiquée par les grands éditeurs transnationaux.</p>
          <small>Patrice Bertrand, Pdt du <span class="color">CNLL</span></small>
        </blockquote>
      </div>
      <div class="span6">
        <blockquote>
          <p>Le travail en réseau, inscrit profondément dans l'ADN des communautés du logiciel libre, sous-tend aussi les principes et les modalités de nos actions au sein des clusters régionaux d'entreprises du Logiciel Libre, autant qu'au sein du CNLL.</p>
          <small>Stefane Fermigier, Pdt du <span class="color">GTLL</span>, Vice-Pdt du <span class="color">CNLL</span></small>
        </blockquote>
      </div>
    </div>
  </div>

  <!-- Testimonial ends -->

{% endblock %}